<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
          
<hibernate-configuration>
	<session-factory>
		<property name="dialeck">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		
		<mapping resource="cn/entity/User.hbm.xml" />
		<mapping resource="cn/entity/Survey.hbm.xml" />
		<mapping resource="cn/entity/Page.hbm.xml" />
		<mapping resource="cn/entity/Question.hbm.xml" />
		<mapping resource="cn/entity/Answer.hbm.xml" />
		<mapping resource="cn/entity/security/Right.hbm.xml" />
		<mapping resource="cn/entity/security/Role.hbm.xml" />
		<mapping resource="cn/entity/Log.hbm.xml" />
	</session-factory>
</hibernate-configuration>